*
!LICENSE
!README.md
!manage.py
!requirements.txt
!db.sqlite3
!.gitignore
!.gitattributes

!main/
!main/**/*

!reva_ieee_conference/
!reva_ieee_conference/**/*

!templates/
!templates/**/*

!docs/
!docs/**/*
