*
!LICENSE
!README.md
!manage.py
!requirements.txt
!.gitignore

!main/
!main/**/*
main/__pycache__/
main/migrations/

!static/
!static/**/*
static/__pycache__/
static/migrations/

!pages/
!pages/**/*
pages/__pycache__/
pages/migrations/

!reva_ieee_conference/
!reva_ieee_conference/**/*
reva_ieee_conference/__pycache__/
