<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>IEEE Conference REVA university</title>
        <link rel="stylesheet" href="styles/style.css" />
        <script src="scripts/app.js"></script>
    </head>
    <body>
        <div id="header">{% include 'header.html' %}</div>
        {% block body %}{% endblock %}
        <div id="footer">{% include 'footer.html' %}</div>
    </body>
</html>
