{% extends 'base.html' %}
{% load static %}
{% block body %}
<main class="main">
  <!-- carousel-start -->
  <!-- corousel-end -->
  <!-- main content start -->
  <div class="main-content">
    <section>
      <h2>Event 1</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit laboriosam laudantium labore, fugiat recusandae nam. Perspiciatis molestias minima et reprehenderit, illum odit ea excepturi ipsa, repudiandae dolorem non, recusandae maiores?
      </p>
    </section>
    <section>
      <h2>Event 1</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit laboriosam laudantium labore, fugiat recusandae nam. Perspiciatis molestias minima et reprehenderit, illum odit ea excepturi ipsa, repudiandae dolorem non, recusandae maiores?
      </p>
    </section>
    <section>
      <h2>Event 1</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit laboriosam laudantium labore, fugiat recusandae nam. Perspiciatis molestias minima et reprehenderit, illum odit ea excepturi ipsa, repudiandae dolorem non, recusandae maiores?
      </p>
    </section>
  </div>
  <!-- main content end -->
  <!-- Sponsors-segment -->
  <section id="sponsors">
    <h1 style="text-align:center">Sponsors</h1>
    <div class="scroller" data-direction="left">
      <ul class="tag-list scroller-inner">
        <li><a href="link"><img src="imgs/GitHub_Logo.png" alt="sponsor logo" class="sponsor-logo"></a></li>
        <li><a href="link"><img src="imgs/ieee-logo.png" alt="sponsor logo" class="sponsor-logo"></a></li>
        <li><a href="link"><img src="imgs/reva-logo-color.png" alt="sponsor logo" class="sponsor-logo"></a></li>
        <li><a href="link"><img src="imgs/ieee-logo.png" alt="sponsor logo" class="sponsor-logo"></a></li>
        <li><a href="link"><img src="imgs/GitHub_Logo.png" alt="sponsor logo" class="sponsor-logo"></a></li>
        <li><a href="link"><img src="imgs/ieee-logo.png" alt="sponsor logo" class="sponsor-logo"></a></li>
        <li><a href="link"><img src="imgs/reva-logo-color.png" alt="sponsor logo" class="sponsor-logo"></a></li>
      </ul>
    </div>
  </section>
</main>
<!-- Sponsors-segment end -->
{% endblock %}
